body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  margin: 0;
}


.vending.machine {
  padding: 20px;
}


.lays, .dairy, .milkybar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}


.product {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 200px;
  padding: 15px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: 0.3s;
}



.product img {
  width: 120px;
  height: 100px;
}
